* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  background: #17191C;
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: transparent;
  padding: 0;
  outline: none;
  border: 1px solid transparent;
}

.wrapper {
  background: url(../img/header.png) center top no-repeat, url(../img/bottom-pic.png) center bottom 150px no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
  height: 100%;
}

/* HEADER */

.header {
  height: 129px;
}

.header .container {
  position: relative;
}

.logo, .menu, .contacts {
  position: absolute;
}

.logo {
  top: 10px;
}

.menu {
  left: 50%;
  transform: translateX(-50%);
  top: 34px;
}

.contacts {
  right: 0;
  top: 10px;
}

.footer {
  position: relative;
}

.menu__item {
  display: inline-block;
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0px;
}


.contacts__phone {
  display: block;
  font-size: 26px;
  font-style: normal;
  margin-top: 10px;
}

.contacts__graph {
  color: #FF3D00;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  text-decoration-line: underline;
  top: 35px;
  right: 0px;
  position: absolute;
}

/* MAIN */

/* PREVIEW */

.button {
  border-radius: 35px;
  background: #F50;
  width: 195px;
  height: 55px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  transition: background 0.4s;
}

.button-border {
  background: transparent;
  color: #F50;
  border: 2px solid #F50;
}

.button-border:hover {
  color: #FFF;
  transition: background 0.4s;
}

.button:hover {
  background: #FF3D00;
  box-shadow: 0px 2px 4px 0px rgba(218, 1, 0, 0.30);
}

.preview {
  text-align: center;
}

.preview__title {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 17px;
}

.preview__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 44px;
}

.preview__button {
  margin-bottom: 230px;
}

/* OPTION */

.options__item {
  display: inline-block;
  border: 5px solid transparent;
  width: 359px;
  height: 476px;
  margin-right: 27px;
  margin-bottom: 180px;
  padding: 36px 22px 53px 22px;
  background-color: #FFF;
  color: black;
}

.options__item:hover {
  border-radius: 5px;
  border: 5px solid #CCC;
}

.options__item:last-child {
  margin-right: 0;
}

.options__icon {
  margin-bottom: 30px;
}

.options__subtitle {
  display: inline-block;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
}

.options__feature-block {
  display: inline-block;
  width: 110px;
  margin-right: 80px;
  margin-bottom: 25px;
}

.options__feature-block:last-child {
  margin-right: 0px;
}

.options__text {
  margin-bottom: 40px;
}

.news__item {
  display: inline-block;
  width: 555px;
  height: 394px;
  border: 1px solid;
  margin-right: 25px;
  position: relative;
  margin-bottom: 57px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__title {
  display: inline-block;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 51px;
} 

.news__bg {
  border: 0;
}

.news__content {
  position: absolute;
  bottom: 0px;
  padding: 0 32px 26px 32px;
}

.news__date {
  display: inline-block;
  margin-bottom: 12.5px;
}

.news__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px
}

.paginator {
  text-align: center;
  margin-bottom: 146px;
}

.paginator__display, .paginator__list, .paginator__item {
  display: inline-block;
}

.paginator__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #FFF;
  font-size: 16px;
  font-weight: 700px;
  text-align: center;
  line-height: 32px;

  transition: 0.4s;
}

.paginator__link:hover{
  background: #F50;
}

.about__img {
  display: inline-block;
  width: 490px;
  height: 505px;
  vertical-align: top;
}

.about__content {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  background: #FFF;
  color: black;
  width: 778px;
  height: 455px;
  margin-top: 97px;
  margin-left: -136px;
  margin-bottom: 53px;
}

.about__title, .about__text, .about__button {
  position: absolute;
}

.about__title {
  top: 70px;
  left: 81px;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: inline-block;
  width: 502px;
  top: 156px;
  left: 81px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.about__button {
  top: 334px;
  left: 81px;
}

.footer {
  height: 146px;
  border-top: 1px solid #FFF;
}

.container--footer {
  position: relative;
}


.menu--footer {
  left: 450px;
  top: 60px
}

.contacts--footer {
  top: 40px
}

.contacts__free-call {
  position: absolute;
  right: 0px;
}

.socials__list {
  position: absolute;
  left: 703px;
}

.socials__item {
  display: inline-block;
  margin-top: 40px;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.contacts__free-call {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.logo--footer {
  margin-top: 30px;
}
